<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>user information</h1>
        <div>name: <%=user.name%></div>
        <div>email: <%=user.email%></div>
        <div>age: <%=user.age%></div>
        <div>role: <%=user.role%></div>
    </div>
</body>

</html>